doctype html
html(lang="vi")
    head
        include jades/head.jade
        link(rel="stylesheet" href="css/index.css")
    body

        include jades/footer.jade
        script(type='text/javascript' src="js/libs/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/libs/bootstrap-4.0.0.min.js")
        script(type="text/javascript" src="js/libs/slick.js")
        script(type="text/javascript" src="main.js")





