// Open Sans font
@font-face {
  font-family: 'Open Sans';
  font-weight: $light;
  src: url('https://statics.vntrip.vn/fonts/opensans-300-normal-webfont.ttf') format('ttf'),
  url('https://statics.vntrip.vn/fonts/opensans-300-normal-webfont.eot') format('eot'),
  url('https://statics.vntrip.vn/fonts/opensans-300-normal-webfont.svg') format('svg'),
  url('https://statics.vntrip.vn/fonts/opensans-300-normal-webfont.woff') format('woff');

}



